@model GAWebApp.Models.State

<!--TODO: Find different latex server that can handle larger expressions.-->
<table>
    <tbody>
        @foreach (var item in Model.history) {
            <tr>
                <td class="@("historyInput " + (Model.showLatex ? "historyInputLatex" : ""))">
                    @if(item.error.Length > 0) {
                        <div style="color: red;">@item.expression</div>
                    } else if(Model.showLatex && item.inputLatex.Length > 0) {
                        <img src=@($"https://latex.codecogs.com/gif.latex?{@item.inputLatex}")>
                    } else if(item.inputPlain.Length > 0) {
                        <div>@item.inputPlain</div>
                    }
                </td>
            </tr>
            <tr>
                <td class="@("historyOutput " + (Model.showLatex ? "historyOutputLatex" : ""))">
                    @if(item.error.Length > 0) {
                        <div style="color: red;">@item.error</div>
                    } else if(Model.showLatex && item.outputLatex.Length > 0) {
                        <img src=@($"https://latex.codecogs.com/gif.latex?{@item.outputLatex}")>
                    } else if(item.outputPlain.Length > 0) {
                        <div>@item.outputPlain</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>